@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Didact Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('Didact Gothic'), local('Didact Gothic'),
    url('/assets/fonts/DidactGothic-Regular.woff2') format('woff2'),
    url('/assets/fonts/DidactGothic-Regular.woff') format('woff');
  font-display: swap;
}

body {
  font-family: 'Didact Gothic';
}

.curve {
  stroke: black !important;
  fill: transparent;
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  animation: dash 1s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
    fill: black;
  }
}